body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  color: #000000; /* Default color */
}

#app {
  background: rgba(255, 255, 255, 0); /* Transparent background */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(
    255,
    255,
    255,
    0.7
  ); /* Slightly transparent for readability */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#locationInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background: #0056b3;
}

#weatherData {
  background: rgba(0, 0, 0, 0.5); /* Transparent black background */
  color: white; /* White text for readability */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#weatherData h2,
#weatherData p {
  margin: 0;
  padding: 5px;
}
